



body{
	background-color: #d9d9d9;
}
h1{
	font-size: 60px;
	text-decoration: underline;

}
section{
	width: 31.80%;
	height: 62%;
	border: 1px solid black;
	float: left;
	margin: 10px 10px;
	
}



.p1{
	background-color: #0099ff;

}

h3{
	position: relative;
	top: 0px;
	left: 2px;
	width: 145px;
    text-align: center;
	border: 1px solid black;
		margin: 0px;
	float: right;
}

#hh1{
	
	background-color: #ff3300;

}


#hh2{
	
	background-color: #00ff00	;

}

#hh3{
	
	background-color: #ff3399;

}



p{
	clear: both;
	 margin: 10px;
    text-align: left;
    font-weight: 500;
    color: white;
}
h1 {
	margin: 30px;
	text-align: center;
}


@media (min-width: 992px) {

	.p1 {
		width: 30.8%;
	}

}


@media (min-width: 768px) and (max-width: 991px) {
	.p1 {
		width: 47.09%;
	}

	.p1:last-child {
		width: 97%;
	}
}


@media (max-width: 767px) {
	.p1 {
		width: 98%;
	}
}

